<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.jae.eclipse.navigator.jaeapp"
            name="JAE">
      </category>
      <view
            category="com.jae.eclipse.navigator.jaeapp"
            class="com.jae.eclipse.navigator.jaeapp.view.JAEAppView"
            icon="icons/jaeappview.gif"
            id="com.jae.eclipse.navigator.jaeapp.view"
            name="JAE App View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="com.jae.eclipse.navigator.jaeapp.view">
         <popupMenu
               id="com.jae.eclipse.navigator.jaeapp.view#PopupMenu">
            <insertionPoint
                  name="group.new">
            </insertionPoint>
            <insertionPoint
                  name="group.edit"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.other">
            </insertionPoint>
         </popupMenu>
      </viewer>
      <viewerActionBinding
            viewerId="com.jae.eclipse.navigator.jaeapp.view">
         <includes>
            <actionExtension
                  pattern="com.jae.eclipse.navigator.jaeapp.view.action.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="com.jae.eclipse.navigator.jaeapp.view">
         <includes>
            <contentExtension
                  pattern="com.jae.eclipse.navigator.jaeapp.content.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.jae.eclipse.navigator.jaeapp.provider.JAEAppContentProvider"
            icon="icons/jaeappview.gif"
            id="com.jae.eclipse.navigator.jaeapp.content.jaeapp"
            labelProvider="com.jae.eclipse.navigator.jaeapp.provider.JAEAppLabelProvider"
            name="JAE APP View"
            priority="normal">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IWorkspaceRoot">
               </instanceof>
               <instanceof
                     value="com.jae.eclipse.navigator.jaeapp.model.User">
               </instanceof>
               <instanceof
                     value="com.jae.eclipse.navigator.jaeapp.model.JDApp">
               </instanceof>
            </or></triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="com.jae.eclipse.navigator.jaeapp.model.User">
               </instanceof>
               <instanceof
                     value="com.jae.eclipse.navigator.jaeapp.model.JDApp">
               </instanceof>
            </or></possibleChildren>
      </navigatorContent>
   </extension>

</plugin>
