<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.jae.eclipse.navigator.jaeapp"
            name="JAE">
      </category>
      <view
            allowMultiple="false"
            category="com.jae.eclipse.navigator.jaeapp"
            class="com.jae.eclipse.navigator.jaeapp.view.JAEView"
            icon="icons/jaeappview.gif"
            id="com.jae.eclipse.navigator.jaeapp.view"
            name="JAE View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="com.jae.eclipse.navigator.jaeapp.view">
         <popupMenu
               id="com.jae.eclipse.navigator.jaeapp.view#PopupMenu">
            <insertionPoint
                  name="group.common">
            </insertionPoint>
            <insertionPoint
                  name="group.edit"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.other">
            </insertionPoint>
         </popupMenu>
      </viewer>
      <viewerActionBinding
            viewerId="com.jae.eclipse.navigator.jaeapp.view">
         <includes>
            <actionExtension
                  pattern="com.jae.eclipse.navigator.jaeapp.action.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="com.jae.eclipse.navigator.jaeapp.view">
         <includes>
            <contentExtension
                  pattern="com.jae.eclipse.navigator.jaeapp.content.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.jae.eclipse.navigator.jaeapp.provider.JAEAppContentProvider"
            icon="icons/jaeappview.gif"
            id="com.jae.eclipse.navigator.jaeapp.content.jaeapp"
            labelProvider="com.jae.eclipse.navigator.jaeapp.provider.JAEAppLabelProvider"
            name="JAE View"
            priority="normal">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IWorkspaceRoot">
               </instanceof>
               <instanceof
                     value="com.jae.eclipse.navigator.jaeapp.model.User">
               </instanceof>
               <instanceof
                     value="com.jae.eclipse.navigator.jaeapp.model.JDApp">
               </instanceof>
            </or></triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="com.jae.eclipse.navigator.jaeapp.model.User">
               </instanceof>
               <instanceof
                     value="com.jae.eclipse.navigator.jaeapp.model.JDApp">
               </instanceof>
            </or></possibleChildren>
      </navigatorContent>
      <actionProvider
            class="com.jae.eclipse.navigator.jaeapp.action.provider.UserOperationActionProvider"
            id="com.jae.eclipse.navigator.jaeapp.action.UserOperationActionProvider">
         <enablement>
            <or>
               <and>
                  <instanceof
                        value="com.jae.eclipse.navigator.jaeapp.model.User">
                  </instanceof></and>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IWorkspaceRoot">
                  </instanceof>
               </and>
               <and>
                  <count
                        value="0">
                  </count>
               </and>
            </or>
         </enablement>
      </actionProvider>
      <actionProvider
            class="com.jae.eclipse.navigator.jaeapp.action.provider.JDAppActionProvider"
            id="com.jae.eclipse.navigator.jaeapp.action.JDAppActionProvider">
         <enablement>
            <or>
               <and>
                  <instanceof
                        value="com.jae.eclipse.navigator.jaeapp.model.JDApp">
                  </instanceof>
               </and>
            </or>
         </enablement>
      </actionProvider>
      <actionProvider
            class="com.jae.eclipse.navigator.jaeapp.action.provider.JDCommonActionProvider"
            id="com.jae.eclipse.navigator.jaeapp.action.JDCommonActionProvider">
         <enablement>
            <or>
               <and>
                  <instanceof
                        value="com.jae.eclipse.navigator.jaeapp.model.IJDElement">
                  </instanceof>
               </and>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   <extension
         point="com.jae.eclipse.ui.imageRepository">
      <image
            id="com.jae.eclipse.navigator.jaeapp.model.User"
            image="icons/user.gif">
      </image>
      <image
            id="com.jae.eclipse.navigator.jaeapp.model.JDAppInstance"
            image="icons/jdapp.gif">
      </image>
      <image
            id="com.jae.eclipse.navigator.jaeapp.model.RemoteFile"
            image="icons/remote_file.gif">
      </image>
      <image
            id="com.jae.eclipse.navigator.jaeapp.model.RemoteFolder"
            image="icons/remote_folder.gif">
      </image>
      <image
            id="user.action.add"
            image="icons/action/user_add.gif">
      </image>
      <image
            id="user.action.remove"
            image="icons/action/user_remove.gif">
      </image>
      <image
            id="user.action.edit"
            image="icons/action/user_edit.gif">
      </image>
      <image
            id="jdapp.action.edit"
            image="icons/action/jdapp_edit.gif">
      </image>
      <image
            id="jdapp.action.import"
            image="icons/action/jdapp_import_code.gif">
      </image>
      <image
            id="jdapp.model.java_web"
            image="icons/appmodel/icon-java.gif">
      </image>
      <image
            id="jdapp.model.node"
            image="icons/appmodel/icon-node.gif">
      </image>
      <image
            id="jdapp.model.php"
            image="icons/appmodel/icon-php.gif">
      </image>
      <image
            id="jdapp.model.rails3"
            image="icons/appmodel/icon-ror.gif">
      </image>
      <image
            id="jdapp.model.spring"
            image="icons/appmodel/icon-java-spring.gif">
      </image>
      <image
            id="jdapp.model.sinatra"
            image="icons/appmodel/icon-sinatra.gif">
      </image>
      <image
            id="jdapp.model.wsgi"
            image="icons/appmodel/icon-python-wsgi.gif">
      </image>
      <image
            id="jdapp.model.django"
            image="icons/appmodel/icon-python-django.gif">
      </image>
      <image
            id="jdapp.action.add"
            image="icons/action/jdapp_new.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.jae.eclipse.navigator.jaeapp.model.AbstractJDElement"
            class="com.jae.eclipse.navigator.jaeapp.adapter.factory.WorkbenchAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
      </factory>
   </extension>

</plugin>
